.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 7vh;
    height: 7%;
    background-color: yellow;
}

.buttons{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.buttons:hover{
    background-color: rgb(38, 36, 36);
    color: white;
    border: 1px solid black;
    transition: 0.3s;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.content {
    background-color: #282c34;
    min-height: 90vh;
}

.footer {
    background-color: yellow;
    height: 3vh;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}