.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    background-color: bisque;
}

.buttons{
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
.buttons:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.content {
    background-color: rgb(183, 183, 183);
    height: 90vh;
}

.footer {
    background-color: rgb(92, 101, 254);
    height: 3vh;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}