.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vh;
    width: 60vh;
    height: 7vh;
    background-color: rgb(229, 247, 30);
}

.buttons{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin: 0px 5px;
    font-weight: bold;
    font-size: 17px;
    transition: 0.3s;
}
.buttons:hover{
    background-color: rgb(38, 36, 36);
    color: white;
    transition: 0.3s;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -10px;
}

.loading{
    color: white;
    font-size: 50px;
    font-weight: bold;
}